@model BankingApp_PK.Models.TransferViewModel

@{
    ViewData["Title"] = "Transfer funds";
}

<h1>
    @ViewData["Title"]
</h1>

<div class="container">
    @using (Html.BeginForm("Create", "Transaction", FormMethod.Post)) {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-12">
                <div class="row form-group">
                    <div class="col-6">
                        From account
                    </div>
                    <div class="col-6">
                        @Html.DropDownListFor(m => m.FromId, new SelectList(Model.Accounts, "Id", "Name"), "Select From Account")
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-6">
                        To account
                    </div>
                    <div class="col-6">
                        @Html.DropDownListFor(m => m.ToId, new SelectList(Model.Accounts, "Id", "Name"), "Select To Account")
                    </div>
                </div>
                <div class="row  form-group">
                    <div class="col-6">
                        Amount to transfer
                    </div>
                    <div class="col-6">
                        @Html.TextBoxFor(m => m.Amount)
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="submit" class="btn btn-primary"/>
                    </div>
                </div>

            </div>

        </div>
        @Html.AntiForgeryToken()
    }
</div>
<div>
    @if (Model.Errors.Count > 0) {
        @foreach(var error in Model.Errors) {
            <div class="row">
                <div class="col text-danger">@error</div>
            </div>
        }
    }
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Return to Home</a> |
    <a asp-action="Index">See all transactions</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}