@model IEnumerable<BankingApp_PK.Models.TransactionViewModel>

@{
    ViewData["Title"] = "All Transactions";
}

<h1>
    @ViewData["Title"]
</h1>

@* <p> *@
@*     <a asp-action="Create">Create New</a> *@
@* </p> *@
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransferTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransferAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationBalance)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Source)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransferTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransferAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationBalance)
        </td>
        <td>
            @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
            @* Once added, transactions cannot be edited or deleted. *@
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
        </td>
    </tr>
}
    </tbody>
</table>
